$white: #ffffff;
$black: #000000;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');

body {
    font-family: 'Open Sans', sans-serif;    font-size: 1rem;
    background: pink;
    background-image: linear-gradient(90deg, #0A0318, #170933);
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;
}
 
.header {
    background-image: url('../images/header-1.png'); 
    background-size: cover;
    background-position: bottom;
    padding: 30px 0 0 0;
    margin: 0;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba($color: $black, $alpha: .50);
    border-radius: 10px;
    padding: 20px;
    .nav-copy {
        display: flex;
        align-items: center;
    }
    .links {
        font-size: 1.125rem;
        font-weight: 500;
        color: $white;
        text-decoration: none;
        padding: 0;
        margin: 0 0 0 40px;
    }
    .white-btn {
        background: $white;
        color: #241347;
        font-size: 1.125rem;
        font-weight: 700;
        text-decoration: none;
        border-radius: 5px;
        padding: 18px 60px;
        margin: 0 0 0 40px;
    }
    .site-name {
        color: $white;
        font-size: 2rem;
        font-weight: 700;
        text-decoration: none;
    }
}

.showcase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    h1 {
        font-size: 46px;
        font-weight: 700;
        color: $white;
        padding-top: 175px;
        padding-bottom: 125px;
        margin: 0;
    }
    .white-btn-2 {
        background: $white;
        color: #241347;
        font-size: 1.125rem;
        font-weight: 700;
        text-decoration: none;
        border-radius: 5px;
        padding: 18px 30px;
        margin: 0 auto;
    }
    .social {
        padding-top: 50px;
        padding-bottom: 75px;
    }
}

.dWJXyj {
    height: 0px !important;
    width: 0px !important;
}